@charset "UTF-8";
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Medium"); }

@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Bold");
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 62.5%;
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  scroll-behavior: smooth; }

body {
  background: #151515 url("../images/StockSnap_7XI32LEZNO.jpg") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1; }

ol, ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #98DDDE; }

#container-circle {
  margin: 0 auto;
  width: 150px;
  height: 150px; }

#container-line {
  margin: 3px 0 12px;
  width: 100%;
  height: 8px; }

#container-line-bold {
  margin: 8px 0;
  width: 100%; }

.reverse {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
  z-index: 999; }
  .header a {
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    padding: 20px 30px;
    font-size: 1.6rem; }
    .header a.active {
      background-color: #81894E;
      color: #fff; }
    .header a:hover {
      opacity: 0.7; }

.home {
  padding: 220px 30px;
  text-align: center; }
  .home__title {
    font-size: 7rem;
    font-weight: 400;
    margin: 50px 0 40px; }
  .home__sub-title {
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2rem; }
    .home__sub-title::before, .home__sub-title::after {
      content: '';
      display: inline-block;
      width: 80px;
      height: 2px;
      margin: 0 30px;
      background-color: #fff;
      vertical-align: middle; }
  .home__description {
    margin: 50px 0;
    color: #ccc;
    font-size: 2.8rem; }
  .home__button {
    display: inline-block;
    width: 200px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .home__button:hover {
      color: #333;
      background-color: rgba(251, 219, 101, 0.7);
      border: 2px solid #FFDA2A;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }

.about {
  padding: 120px;
  background-color: #fff;
  color: #333; }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about__content__image {
      width: 350px;
      height: 350px;
      border-radius: 8px;
      -webkit-box-shadow: 5px bottom #ccc;
      box-shadow: 5px bottom #ccc;
      opacity: 0.9;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .about__content__introduction {
      margin-left: 50px;
      padding: 0 24px;
      min-height: 300px; }
      .about__content__introduction__head {
        position: relative;
        display: inline-block;
        margin: 0 0 15px;
        padding-bottom: 15px;
        letter-spacing: 2px;
        font-size: 4rem; }
        .about__content__introduction__head::before, .about__content__introduction__head::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          border-bottom: 1px solid #999; }
        .about__content__introduction__head::before {
          bottom: 5px; }
      .about__content__introduction__text {
        margin-top: 16px;
        font-size: 1.8rem;
        line-height: 1.6; }
      .about__content__introduction__sub-text {
        margin-top: 24px;
        font-size: 1.6rem;
        line-height: 1.4; }
      .about__content__introduction__social-media {
        margin-top: 40px; }
        .about__content__introduction__social-media__link {
          text-decoration: none;
          display: inline-block;
          margin-left: 15px;
          font-size: 5.4rem; }
          .about__content__introduction__social-media__link:nth-child(1) {
            margin-left: 0px; }
          .about__content__introduction__social-media__link__list.twitter {
            color: #888; }
            .about__content__introduction__social-media__link__list.twitter:hover {
              color: #00A2F9;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
          .about__content__introduction__social-media__link__list.facebook {
            color: #888; }
            .about__content__introduction__social-media__link__list.facebook:hover {
              color: #4167B2;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
          .about__content__introduction__social-media__link__list.instagram {
            color: #888; }
            .about__content__introduction__social-media__link__list.instagram:hover {
              color: #211D1E;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
          .about__content__introduction__social-media__link__list__note-logo {
            vertical-align: bottom;
            width: 90px;
            height: 60px;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
            .about__content__introduction__social-media__link__list__note-logo:hover {
              opacity: 0.5;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }

.works {
  background-color: #262F56;
  padding: 120px 0;
  text-align: center; }
  .works__head {
    position: relative;
    display: inline-block;
    margin: 0 0 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 4rem; }
    .works__head::before, .works__head::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #999; }
    .works__head::before {
      bottom: 5px; }
  .works__sub-head {
    margin-top: 48px;
    font-size: 2.2rem;
    text-align: left; }
    .works__sub-head__text {
      font-size: 2.6rem; }
  .works__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 72px auto 0; }
    .works__table__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      margin: 0 0 48px 12px;
      width: 24%; }
      .works__table__box:nth-child(4n+1) {
        margin-left: 0px; }
      .works__table__box__image {
        display: block;
        width: 100%; }
      .works__table__box__inner {
        padding: 16px 8px; }
        .works__table__box__inner__text {
          line-height: 1.4;
          letter-spacing: 1.2; }
          .works__table__box__inner__text__title {
            font-weight: 600; }
          .works__table__box__inner__text__desc {
            margin: 12px 0 0; }
          .works__table__box__inner__text__button {
            margin-top: auto;
            padding: 24px 0; }
            .works__table__box__inner__text__button__link {
              width: 50%;
              padding: 12px 48px;
              color: #fff;
              background-color: #009498;
              font-weight: 600;
              -webkit-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out;
              opacity: 0.8; }
              .works__table__box__inner__text__button__link:hover {
                background-color: #98DDDE;
                opacity: 0.9;
                -webkit-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out; }
  .works__github {
    margin-top: 24px; }
    .works__github:hover {
      opacity: 0.7;
      text-decoration: underline; }
    .works__github__link {
      color: #fff; }
      .works__github__link__icon {
        font-size: 8rem; }
      .works__github__link__text {
        margin-top: 12px; }

.skills {
  padding: 120px 80px;
  background-color: #fff;
  color: #333;
  text-align: center; }
  .skills__head {
    position: relative;
    display: inline-block;
    margin: 0 0 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 4rem; }
    .skills__head::before, .skills__head::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #999; }
    .skills__head::before {
      bottom: 5px; }
  .skills__summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 48px; }
    .skills__summary__box__icon {
      width: 150px;
      height: 150px;
      padding: 30px;
      margin-bottom: 30px;
      border: 4px solid #FFDA2A;
      border-radius: 50%; }
    .skills__summary__box__title {
      margin: 0 20px 20px;
      font-size: 2rem; }
    .skills__summary__box__text {
      margin: 0 20px;
      font-size: 1.4rem;
      line-height: 2; }
  .skills__sub-head-left {
    text-align: left;
    margin-top: 36px;
    padding-left: 6px;
    font-size: 2.2rem; }
  .skills__sub-head-right {
    text-align: right;
    margin-top: 36px;
    padding-right: 6px;
    font-size: 2.2rem; }
  .skills__sub-head-center {
    text-align: center;
    margin-top: 36px;
    font-size: 2.2rem; }
  .skills__languages-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: left;
    max-height: 300px;
    margin-top: 48px; }
    .skills__languages-content__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 24px;
      padding: 0 8px;
      width: 30%; }
      .skills__languages-content__box:last-child {
        margin-bottom: 0px; }
      .skills__languages-content__box__left {
        text-align: center;
        width: 50px;
        height: 60px; }
        .skills__languages-content__box__left__icon {
          width: 100%;
          height: 100%; }
      .skills__languages-content__box__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
        padding: 4px 0;
        margin-left: 12px; }
  .skills__flameworks-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
    margin-top: 48px; }
    .skills__flameworks-content__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 12px;
      padding: 0 8px 0 24px;
      width: 50%;
      height: 30%; }
      .skills__flameworks-content__box:last-child {
        margin-bottom: 0px; }
      .skills__flameworks-content__box__right {
        text-align: center;
        width: 100px; }
        .skills__flameworks-content__box__right__icon {
          width: 100%;
          height: 100%; }
        .skills__flameworks-content__box__right .bootstrap {
          padding: 10%; }
        .skills__flameworks-content__box__right .react {
          padding: 5%; }
      .skills__flameworks-content__box__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: right;
        margin-right: 16px;
        padding: 20px 0;
        width: 100%; }
  .skills__other-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    margin-top: 48px; }
    .skills__other-content__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 20%;
      text-align: center; }
      .skills__other-content__box__progress {
        position: relative;
        padding: 12px; }
        .skills__other-content__box__progress .git-center, .skills__other-content__box__progress .github-center {
          position: absolute;
          top: 12.5%;
          right: 0;
          bottom: 0;
          left: 12.5%;
          padding: 20px;
          width: 75%; }
        .skills__other-content__box__progress .aws-center {
          position: absolute;
          top: 25%;
          right: 0;
          bottom: 0;
          left: 12.5%;
          padding: 20px;
          width: 75%; }
        .skills__other-content__box__progress .linux-center {
          position: absolute;
          top: 8%;
          right: 0;
          bottom: 0;
          left: 12.5%;
          padding: 20px;
          width: 75%; }
      .skills__other-content__box__title {
        font-size: 1.6rem;
        font-weight: 600; }
      .skills__other-content__box__text {
        margin-top: 12px; }
  .skills__horizontal {
    border: 2px solid #f5f5f5;
    margin: 48px 0; }
