@charset "UTF-8";
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Medium"); }

@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Bold");
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 62.5%;
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  scroll-behavior: smooth; }

body {
  background: #151515 url("../images/StockSnap_7XI32LEZNO.jpg") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1; }

ol, ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #98DDDE; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
  z-index: 999; }
  .header a {
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    padding: 20px 30px;
    font-size: 1.6rem; }
    .header a.active {
      background-color: #81894E;
      color: #fff; }
    .header a:hover {
      opacity: 0.7; }

.home {
  padding: 220px 30px;
  text-align: center; }
  .home__title {
    font-size: 7rem;
    font-weight: 400;
    margin: 50px 0 40px; }
  .home__sub-title {
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2rem; }
    .home__sub-title::before, .home__sub-title::after {
      content: '';
      display: inline-block;
      width: 80px;
      height: 2px;
      margin: 0 30px;
      background-color: #fff;
      vertical-align: middle; }
  .home__description {
    margin: 50px 0;
    color: #ccc;
    font-size: 2.8rem; }
  .home__button {
    display: inline-block;
    width: 200px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .home__button:hover {
      color: #333;
      background-color: rgba(251, 219, 101, 0.7);
      border: 2px solid #FFDA2A;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }

.about {
  padding: 120px;
  background-color: #fff;
  color: #333; }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about__content__image {
      width: 350px;
      height: 350px;
      border-radius: 8px;
      -webkit-box-shadow: 5px bottom #ccc;
      box-shadow: 5px bottom #ccc;
      opacity: 0.9;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .about__content__introduction {
      margin-left: 50px;
      padding: 0 24px;
      min-height: 300px; }
      .about__content__introduction__head {
        position: relative;
        display: inline-block;
        margin: 0 0 15px;
        padding-bottom: 15px;
        letter-spacing: 2px;
        font-size: 4rem; }
        .about__content__introduction__head::before, .about__content__introduction__head::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          border-bottom: 1px solid #999; }
        .about__content__introduction__head::before {
          bottom: 5px; }
      .about__content__introduction__text {
        margin-top: 16px;
        font-size: 1.8rem;
        line-height: 1.6; }
      .about__content__introduction__sub-text {
        margin-top: 24px;
        font-size: 1.6rem;
        line-height: 1.4; }
      .about__content__introduction__social-media {
        margin-top: 40px; }
        .about__content__introduction__social-media__link {
          text-decoration: none;
          display: inline-block;
          margin-left: 15px;
          font-size: 5.4rem; }
          .about__content__introduction__social-media__link:nth-child(1) {
            margin-left: 0px; }
          .about__content__introduction__social-media__link__list.twitter {
            color: #888; }
            .about__content__introduction__social-media__link__list.twitter:hover {
              color: #00A2F9;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
          .about__content__introduction__social-media__link__list.facebook {
            color: #888; }
            .about__content__introduction__social-media__link__list.facebook:hover {
              color: #4167B2;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
          .about__content__introduction__social-media__link__list.instagram {
            color: #888; }
            .about__content__introduction__social-media__link__list.instagram:hover {
              color: #211D1E;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
          .about__content__introduction__social-media__link__list__note-logo {
            vertical-align: bottom;
            width: 90px;
            height: 60px;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
            .about__content__introduction__social-media__link__list__note-logo:hover {
              opacity: 0.5;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
